<html>
<div th:fragment="ip-validator-modal">

	<!--IP-Validator Modal -->
	<div class="modal fade ip-validator-modal-lg" tabindex="-1"
		role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<img src="/img/form-icon/firewall.png" alt="...">
					<h5 class="modal-title" id="exampleModalLabel">Firewall
						Request</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/addFirewall}" method="POST">
						<div class="form-group">
							<label for="requestBy" class="col-form-label col-form-label-sm">Raise
								this request on behalf of</label> <select
								class="form-control form-control-sm" id="requestBy"
								name="requestBy" required>
								<option>Name</option>
								<option>Name</option>
								<option>Name</option>
								<option>Name</option>
								<option>Name</option>
							</select>
						</div>
						<div class="form-group">
							<label for="exampleFormControlInput1"
								class="col-form-label col-form-label-sm">Summary</label> <input
								type="text" class="form-control form-control-sm"
								id="exampleFormControlInput1"
								placeholder="Type the ticket summary here">
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="serialNum" class="col-form-label col-form-label-sm">Serial
									Number</label> <input type="text" class="form-control form-control-sm"
									id="serialNum">
							</div>
							<div class="form-group col-md-6">
								<label for="action" class="col-form-label col-form-label-sm">Action</label>
								<select class="form-control form-control-sm" id="action"
									name="action" required>
									<option>New</option>
									<option>Delete</option>
									<option>Amend</option>
									<option>Disable</option>
									<option>Enable</option>
								</select>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="sourceHostname"
									class="col-form-label col-form-label-sm">Source
									Hostname</label> <small id="SourceOptionalInline" class="text-muted">(Optional)</small>
								<input type="text" class="form-control form-control-sm"
									th:value="${firewall.sourceHostname}" id="sourceHostname"
									name="sourceHostname" placeholder="Source Hostname">
							</div>
							<div class="form-group col-md-4">
								<label for="sourceIp" class="col-form-label col-form-label-sm">Source
									IP / Mask</label> <input type="text"
									class="form-control form-control-sm"
									th:value="${firewall.sourceIp}" id="sourceIp" name="sourceIp"
									placeholder="Source IP or Source IP/Mask"
									pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$|([1-9]|[1-9]\d|1\d{2}|2[0-4]\d|25[0-5])(\.(\d|[1-9]\d|1\d{2}|2[0-4]\d|25[0-5])){3}\/(3[0-2]|[1-2]\d|\d)$"
									title="Enter valid IPv4 addrss Ex: 127.0.0.1 OR 127.0.0.1/24">

							</div>
							<div class="form-group col-md-4">
								<label for="sourceNatIp"
									class="col-form-label col-form-label-sm">Source NAT IP</label>
								<input type="text" class="form-control form-control-sm"
									th:value="${firewall.sourceNatIp}" id="sourceNatIp"
									name="sourceNatIp"
									placeholder="Applicable if NAT is required only">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="desHostname"
									class="col-form-label col-form-label-sm">Destination
									Hostname</label> <small id="destinationOptionalInline"
									class="text-muted">(Optional)</small> <input type="text"
									class="form-control form-control-sm"
									th:value="${firewall.desHostname}" id="desHostname"
									name="desHostname" placeholder="Destination Hostname">
							</div>
							<div class="form-group col-md-4">
								<label for="desIp" class="col-form-label col-form-label-sm">Destination
									IP / Mask</label> <input type="text"
									class="form-control form-control-sm"
									th:value="${firewall.desIp}" id="desIp" name="desIp"
									placeholder="Destination IP / Mask"
									pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$|([1-9]|[1-9]\d|1\d{2}|2[0-4]\d|25[0-5])(\.(\d|[1-9]\d|1\d{2}|2[0-4]\d|25[0-5])){3}\/(3[0-2]|[1-2]\d|\d)$"
									title="Enter valid IPv4 addrss Ex: 127.0.0.1 OR 127.0.0.1/24">
							</div>
							<div class="form-group col-md-4">
								<label for="desPort" class="col-form-label col-form-label-sm">Destination
									Port</label> <input type="text" class="form-control form-control-sm"
									th:value="${firewall.desPort}" id="desPort" name="desPort"
									placeholder="indicate UDP or TC" pattern="[0-9]+"
									title="Enter valid port number">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="destinationNATIP"
									class="col-form-label col-form-label-sm">Destination
									NAT IP</label> <input type="text" class="form-control form-control-sm"
									th:value="${firewall.desNatIp}" id="desNatIp" name="desNatIp"
									placeholder="Applicable if NAT is required only">
							</div>
							<div class="form-group col-md-6">
								<label for="ruleAction" class="col-form-label col-form-label-sm">Rule
									Action</label> <select class="form-control form-control-sm"
									id="ruleAction" name="ruleAction">
									<option>Allow</option>
									<option>Deny</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="description" class="col-form-label col-form-label-sm">Purpose
								and Description</label>
							<textarea class="form-control form-control-sm"
								style="min-width: 100%" th:value="${firewall.description}"
								id="description" name="description"></textarea>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="validity" class="col-form-label col-form-label-sm">Validity</label>
								<select class="form-control form-control-sm" id="validity"
									name="validity">
									<option>Permanent</option>
									<option>Till Date</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label for="tillDate" class="col-form-label col-form-label-sm">Temporary
									Till date</label> <input type="date"
									class="form-control form-control-sm"
									th:value="${firewall.tillDate}" id="tillDate" name="tillDate"
									min="2020-01-01" max="2050-12-31">
							</div>
						</div>
						<div class="form-group">
							<label for="remarks" class="col-form-label col-form-label-sm">Remarks</label>
							<textarea class="form-control form-control-sm"
								style="min-width: 100%" th:value="${firewall.remarks}"
								id="remarks" name="remarks"></textarea>
						</div>
						<div class="form-group">
							<label for="justification"
								class="col-form-label col-form-label-sm">Request
								Justification</label>
							<textarea class="form-control form-control-sm"
								style="min-width: 100%" th:value="${firewall.justification}"
								id="justification" name="justification"></textarea>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Validate</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
</div>
</html>